.PageError{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
    font-size: var(--font-size-l);
    gap: 10px;
    background: var(--bg-color);
    color: var(--primary-color);
}
